<!DOCTYPE html>
<html ng-app="Panoply">

<head>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="vendor/jquery-ui/themes/base/jquery-ui.css">

    <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>


    <!--[if lt IE 9]>  
   		<script src="vendor/respond/dest/respond.min.js"></script>
	<![endif]-->

	<script src="vendor/ng-file-upload/angular-file-upload-shim.min.js"></script><!-- A METTRE AVANT ANGULAR -->
	
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular-route/angular-route.min.js"></script>
    <script src="vendor/ng-file-upload/angular-file-upload.min.js"></script> <!-- A METTRE AVANT COOKIE -->
    <script src="vendor/angular-cookies/angular-cookies.min.js"></script>
    <script src="vendor/angular-local-storage/angular-local-storage.min.js"></script>


    <script type="text/javascript" src="vendor/html2canvas/build/html2canvas.min.js"></script>
    
	<link rel="stylesheet" href="vendor/blueimp-file-upload/css/jquery.fileupload.css">
	<link rel="stylesheet" href="vendor/blueimp-file-upload/css/jquery.fileupload-ui.css">
	<!-- <script type="text/javascript" src="vendor/fileupload/js/jquery.iframe-transport.js"></script>
	<script type="text/javascript" src="vendor/fileupload/js/jquery.fileupload.js"></script> -->

    <script src="scripts/extras.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/directives.js"></script>
    <script src="scripts/factories.js"></script>
    
    <link href="styles/style.css" rel="stylesheet">
    <link href="styles/cgi-style.css" rel="stylesheet">

    <title>Panoply</title>
</head>

<body ng-controller="PanoplyCtrl">
<div class="container">
	<nav class="navbar navbar-default" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="#">Panoply</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li><a id="saveCreation" ng-click="generateZip($event)" href="">Save</a></li>
				<li><a id="reinitCreation" ng-click="reinitialize()" href="">Reset</a></li>
		    </ul>
		</div>
	</nav>
	
	
	
	<section><!-- list panneaux -->
		<div id='headerLayer'>
			<div class="rightCorner">
				<button class="btn btn-success" type="button" ng-click="addPanel()">Add a Pannel</button>
				<button id="deletePanoButton" class="btn btn-danger" type="button" ng-click="removePanel()" ng-disabled="panels.length <= 3">Remove a Pannel</button>
				

				<span style="float: right;" class="btn btn-primary fileinput-button">
					<i class="icon-plus icon-white"></i>
					<span>Upload a presentation</span>
					<input id="presentationUpload" type="file" ng-file-select="onFileSelect($files, $event)">
				</span>
				<span class="progress" style='width:200px; float:right; margin: 7px 10px 0 0;'>
					<span class="progress-bar" role="progressbar" ng-model='progressBarPresentation' aria-valuenow="{{ progressBarPresentation }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progressBarPresentation }}%;">
						<span class="sr-only">{{ progressBarPresentation }}% Complete</span>
					</span>
				</span>
				<div class="clear"></div>
			</div>
			
			<div id='listLayer'>
				<div class='panel' ng-repeat='panel in panels' ng-click="panelSelected($index, $event)" ng-class="{ 'panelSelected': $index == selectedPanelIndex}" ng-style="getPanelBackground($index)"></div>
			</div>
		</div> 
	</section><!-- end list panneaux -->
	
		
	
	<section><!-- layout panneau -->
	
		<div class="row" id="container"> 
		
			<div class="col-lg-2" id="leftColumn"> <!-- icon -->
					
					<div ng-style='{height: icons[iconIdUploaded].height}' ng-model='icons[iconIdUploaded]'> <!-- add icon -->
						<legend>Add an Icon</legend>
						<div class="center-block" id='iconPlace'>
							
							<img ng-if="iconIdUploaded" ng-model='icons[iconIdUploaded]' id='{{ icons[iconIdUploaded].id }}' ng-style='{width:icons[iconIdUploaded].width, height:icons[iconIdUploaded].height }' ng-click="iconSelected(undefined, $event)" ng-class="{'clearIcon': icons[iconIdUploaded].isClear}" ng-src='{{icons[iconIdUploaded].src}}' class='icon draggable-object blockCenter' draggable/>
							
						</div>
						
						
						<div ng-if="!iconIdUploaded" class="blockCenter">
							
							<span  class="btn btn-success fileinput-button">
								<i class="icon-plus icon-white"></i>
								<span>Upload an Icon</span>
								<input id="iconeUpload" type="file" ng-file-select="onFileSelect($files, $event)">
							</span>
							
							<button type="button" class="btn btn-default" ng-click="addIcon('img/button_clear.png')">Add a click area</button>
							
							<div class="progress" style='margin-top:20px;'>
								<div class="progress-bar" role="progressbar" ng-model='progressBarIcon' aria-valuenow="{{ progressBarIcon }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progressBarIcon }}%;">
									<span class="sr-only">{{ progressBarIcon }}% Complete</span>
								</div>
							</div>
							
						</div>
					</div>
					
					<div style="margin-top: 100px;"> <!-- add background -->
						<legend>Add a Background</legend>
						
						<form class="form-horizontal">
							
							<div class="form-group">
								<label class="col-lg-4 control-label" for="linkBackground">Link :</label>
								<div class="col-lg-8">
									<a href='{{ panels[selectedPanelIndex].background.src }}' target="_blank" ng-model='panels[selectedPanelIndex].background'><p class="form-control-static" id="linkBackground">{{ panels[selectedPanelIndex].background.fileName }}</p></a>
								</div>
							</div>
							
							<br/>
							
							<button ng-if="panels[selectedPanelIndex].background.src" type="button" class="blockCenter btn btn-danger btn-sm" id="deleteLinkBackground" ng-click="removeBackground()" hidden>Delete</button>
							
							<div ng-if="!panels[selectedPanelIndex].background" class="blockCenter" id="inputBackground">
								<!--<button ng-if="!panels[selectedPanelIndex].background" class="btn btn-success" type="button" ng-click="addBackground()">Charger un arrière plan</button>-->
								
								<span class="btn btn-success fileinput-button">
									<i class="icon-plus icon-white"></i>
									<span>Upload a background</span>
									<input id="backgroundUpload" type="file" ng-file-select="onFileSelect($files, $event)">
								</span>
								
								<div class="progress" style='margin-top:20px;'>
									<div class="progress-bar" role="progressbar" ng-model='progressBarBackground' aria-valuenow="{{ progressBarBackground }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progressBarBackground }}%;">
										<span class="sr-only">{{ progressBarBackground }}% Complete</span>
									</div>
								</div>
								
								
							</div>
							
						</form>

						<legend ng-if="panels[selectedPanelIndex].background.type == 'kVideo'">Background Image</legend>
						<form class="form-horizontal" ng-if="panels[selectedPanelIndex].background.type == 'kVideo'">
							<div class="form-group">
								<label class="col-lg-4 control-label" for="linkImgBackground">Link :</label>
								<div class="col-lg-8">
									<a href='{{ panels[selectedPanelIndex].background.videoBackgroundSrc }}' target="_blank" ng-model='panels[selectedPanelIndex].background'><p class="form-control-static" id="linkImgBackground">{{ panels[selectedPanelIndex].background.videoBackground }}</p></a>
								</div>
							</div>
							
							<br/>
							
							<button ng-if="panels[selectedPanelIndex].background.videoBackgroundSrc" type="button" class="blockCenter btn btn-danger btn-sm" id="deleteLinkBackground" ng-click="removeBackgroundImage()" hidden>Delete</button>
							
							<div ng-if="!panels[selectedPanelIndex].background.videoBackgroundSrc" class="blockCenter" id="inputBackground">
								<!--<button ng-if="!panels[selectedPanelIndex].background" class="btn btn-success" type="button" ng-click="addBackground()">Charger un arrière plan</button>-->
								
								<span class="btn btn-success fileinput-button">
									<i class="icon-plus icon-white"></i>
									<span>CUpload a background Image</span>
									<input id="imageBackgroundUpload" type="file" ng-file-select="onFileSelect($files, $event)">
								</span>
								
								<div class="progress" style='margin-top:20px;'>
									<div class="progress-bar" role="progressbar" ng-model='progressBarImageBackground' aria-valuenow="{{ progressBarImageBackground }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progressBarImageBackground }}%;">
										<span class="sr-only">{{ progressBarImageBackground }}% Complete</span>
									</div>
								</div>
								
								
							</div>
							
						</form>
					</div>
					
					<br/><br/>
					
			</div> <!-- end icon -->
			
			<div class="col-lg-8" id="centerColumn"> <!-- workspace -->
					<div id="workspace" class='minHeight' ng-style="getPanelBackground(selectedPanelIndex)" droppable>

						<video id="videoBackground" autoplay loop ng-if="panels[selectedPanelIndex].background.type == 'kVideo'"> <!-- MP4 for Safari, IE9, iPhone, iPad, Android, and Windows Phone 7 -->
							<source type="video/mp4" src="{{panels[selectedPanelIndex].background.src}}" />
							Votre navigateur ne peut lire la vidéo.
						</video>
						
						<div ng-repeat="icon in icons"  id='{{icon.id}}' ng-click="iconSelected(icon.id, $event)"  ng-style='{width:icon.width, height:icon.height, top:icon.top, left:icon.left }' class='icon draggable-object' ng-class="{'clearIcon': icon.isClear}" ng-if='icon.dropped'  class="ui-widget-content" draggable resizable>
							<img  ng-src='{{icon.src}}' ng-style='{width:icon.width, height:icon.height}' />
						</div>
						
					</div>
			</div> <!-- end workspace -->
			
			<div class="col-lg-2 borderLeft" id="rightColumn">
				
				<div ng-if="iconId" class="form-horizontal" id="iconInfos">
				<legend>Icon details</legend>
					<div class="form-group">
						<label class="col-lg-4 control-label" for="inputTitleIcon">Title :</label>
						<div class="col-lg-8">
							<input type="text" class="form-control" id="inputTitleIcon" placeholder="Titre" value="{{icons[iconId].title}}" ng-model='icons[iconId].title'>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-lg-4 control-label" for="inputSizeIcon">Size (WxH) :</label>
						<div class="col-lg-8">
							<div class="row">
							
								<div class="col-lg-6" id="iconWidthDiv">
							    	<input type="text" id="iconWidth" class="form-control" placeholder="Largeur" value="{{icons[iconId].width}}" ng-model='icons[iconId].width'>
							    </div>
							    
							    <div class="col-lg-6" id="iconHeightDiv">
							   		<input type="text" id="iconHeight" class="form-control" placeholder="Hauteur" value="{{icons[iconId].height}}" ng-model='icons[iconId].height'>
							   	</div>
							   	
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-lg-4 control-label" for="iconLink">Link :</label>
						<div class="col-lg-8">
							<a href='{{ icons[iconId].link }}' target="_blank" ng-model='icons[iconId]'><p class="form-control-static" ng-model='icons[iconId]' id="iconLink">{{ icons[iconId].linkFileName }}</p></a>			
						</div>
					</div>
					
					<br/>
					
					<button ng-if="icons[iconId].linkFileName" type="button" class="blockCenter btn btn-danger btn-sm" id="deleteIconLink"  ng-click="removeIconFile()">Delete the link</button>
					
					<div ng-if="!icons[iconId].linkFileName" class="blockCenter" id="inputIconLink">
						<!--<button class="btn btn-success" type="button" ng-click="addIconFile()">Ajouter un fichier</button>-->
						
						<span class="btn btn-success fileinput-button">
							<i class="icon-plus icon-white"></i>
							<span>Upload a linked file</span>
							<!-- The file input field used as target for the file upload widget -->
							<input id="iconLinkUpload" type="file" ng-file-select="onFileSelect($files, $event)">
						</span>
						
						<div class="progress" style='margin-top:20px;'>
							<div class="progress-bar" role="progressbar" ng-model='progressBarFile' aria-valuenow="{{ progressBarFile }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progressBarFile }}%;">
								<span class="sr-only">{{ progressBarFile }}% Complete</span>
							</div>
						</div>
						
						
					</div>
				
					<br/><br/>
				
				</div>
					
				<!-- trash -->
				<div>
					<legend>Trash</legend>
					<div id="trash" class="blockCenter" trash>
						<img src="img/trash.png" width="70%">
					</div>
				</div><!-- end trash -->
				
			</div> 
		
		</div> 
	</section><!-- end layout panneau -->

</div>		
</body>

</html>