<!DOCTYPE html>
<html ng-app="Panoply">

<head>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<script src="vendor/jquery/jquery-1.10.2.min.js"></script>
    <script src="vendor/jquery-ui/jquery-ui.min.js"></script>

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	
	<script src="vendor/angular-file-upload/angular-file-upload-shim.min.js"></script><!-- A METTRE AVANT ANGULAR -->
	
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular/angular-route.min.js"></script>
    <script src="vendor/angular-file-upload/angular-file-upload.min.js"></script> <!-- A METTRE AVANT COOKIE -->
    <script src="vendor/angular/angular-cookies.min.js"</script>
    
    <script type="text/javascript" src="vendor/stringify/stringify.js"></script>
    
	<link rel="stylesheet" href="vendor/fileupload/css/jquery.fileupload.css">
	<link rel="stylesheet" href="vendor/fileupload/css/jquery.fileupload-ui.css">
	<!-- <script type="text/javascript" src="vendor/fileupload/js/jquery.iframe-transport.js"></script>
	<script type="text/javascript" src="vendor/fileupload/js/jquery.fileupload.js"></script> -->

    <script src="scripts/extras.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/directives.js"></script>
    <script src="scripts/factories.js"></script>
    
    <link href="styles/style.css" rel="stylesheet">

    <title>Panoply</title>
</head>

<body ng-controller="PanoplyCtrl">
<div class="container">
	<nav class="navbar navbar-default" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="#">Panoply</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li><a id="saveCreation" ng-click="generateZip($event)" href="">Sauvegarder</a></li>
				<li><a id="reinitCreation" ng-click="reinitialize()" href="">Réinitialiser</a></li>
		    </ul>
		</div>
	</nav>
	
	
	
	<section><!-- list panneaux -->
		<div id='headerLayer'>
			<div class="rightCorner">
				<button class="btn btn-success" type="button" ng-click="addPanel()">Ajouter un panneau</button>
				<button id="deletePanoButton" class="btn btn-danger" type="button" ng-click="removePanel()" ng-disabled="panels.length <= 3">Supprimer un panneau</button>
			</div>
			<div id='listLayer'>
				<div class='panel' ng-repeat='panel in panels' ng-click="panelSelected($index, $event)" ng-class="{ 'panelSelected': $index == selectedPanelIndex}" ng-style="{backgroundImage: 'url(\''+panels[$index].background.src+'\')'}"></div>
			</div>
		</div> 
	</section><!-- end list panneaux -->
	
		
	
	<section><!-- layout panneau -->
	
		<div class="row" id="container"> 
		
			<div class="col-lg-2" id="leftColumn"> <!-- icon -->
					
					<div ng-style='{height: icons[iconIdUploaded].height}' ng-model='icons[iconIdUploaded]'> <!-- add icon -->
						<legend>Ajout d'une icône</legend>
						<div class="blockCenter" id='iconPlace'>
							
							<img ng-if="iconIdUploaded" ng-model='icons[iconIdUploaded]' id='{{ icons[iconIdUploaded].id }}' ng-style='{width:icons[iconIdUploaded].width, height:icons[iconIdUploaded].height }' ng-click="iconSelected(undefined, $event)" ng-src='{{icons[iconIdUploaded].src}}' class='icon draggable-object blockCenter' draggable/>
							
						</div>
						
						
						<div ng-if="!iconIdUploaded" class="blockCenter">
							
							<span  class="btn btn-success fileinput-button">
								<i class="icon-plus icon-white"></i>
								<span>Charger une icone</span>
								<input id="iconeUpload" type="file" ng-file-select="onFileSelect($files, $event)">
							</span>
							
							<div class="progress" style='margin-top:20px;'>
								<div class="progress-bar" role="progressbar" ng-model='progressBarIcon' aria-valuenow="{{ progressBarIcon }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progressBarIcon }}%;">
									<span class="sr-only">{{ progressBarIcon }}% Complete</span>
								</div>
							</div>
							
						</div>
					</div>
					
					<div style="margin-top: 100px;"> <!-- add background -->
						<legend>Ajouter l'arrière-plan</legend>
						
						<form class="form-horizontal">
							
							<div class="form-group">
								<label class="col-lg-4 control-label" for="linkBackground">Lien :</label>
								<div class="col-lg-8">
									<a href='{{ panels[selectedPanelIndex].background.src }}' ng-model='panels[selectedPanelIndex].background'><p class="form-control-static" id="linkBackground">{{ panels[selectedPanelIndex].background.fileName }}</p></a>
								</div>
							</div>
							
							<br/>
							
							<button ng-if="panels[selectedPanelIndex].background.src" type="button" class="blockCenter btn btn-danger btn-sm" id="deleteLinkBackground" ng-click="removeBackground()" hidden>Supprimer</button>
							
							<div ng-if="!panels[selectedPanelIndex].background" class="blockCenter" id="inputBackground">
								<!--<button ng-if="!panels[selectedPanelIndex].background" class="btn btn-success" type="button" ng-click="addBackground()">Charger un arrière plan</button>-->
								
								<span class="btn btn-success fileinput-button">
									<i class="icon-plus icon-white"></i>
									<span>Charger un arrière plan</span>
									<input id="backgroundUpload" type="file" ng-file-select="onFileSelect($files, $event)">
								</span>
								
								<div class="progress" style='margin-top:20px;'>
									<div class="progress-bar" role="progressbar" ng-model='progressBarBackground' aria-valuenow="{{ progressBarBackground }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progressBarBackground }}%;">
										<span class="sr-only">{{ progressBarBackground }}% Complete</span>
									</div>
								</div>
								
								
							</div>
							
						</form>
					</div>
					
					<br/><br/>
					
			</div> <!-- end icon -->
			
			<div class="col-lg-8" id="centerColumn"> <!-- workspace -->
				<div class="minHeight">
					<div id="workspace" ng-style="{backgroundImage: 'url(\''+panels[selectedPanelIndex].background.src+'\')'}" droppable>
						
						<img  ng-repeat="icon in icons"  id='{{icon.id}}' ng-click="iconSelected(icon.id, $event)" ng-src='{{icon.src}}' ng-style='{width:icon.width, height:icon.height, top:icon.top, left:icon.left  }' class='icon draggable-object' ng-if='icon.dropped' draggable/>
						
						
					</div>
				</div>
			</div> <!-- end workspace -->
			
			<div class="col-lg-2 borderLeft" id="rightColumn">
				
				<div ng-if="iconId" class="form-horizontal" id="iconInfos">
				<legend>Informations sur l'icône</legend>
					<div class="form-group">
						<label class="col-lg-4 control-label" for="inputTitleIcon">Titre :</label>
						<div class="col-lg-8">
							<input type="text" class="form-control" id="inputTitleIcon" placeholder="Titre" value="{{icons[iconId].title}}" ng-model='icons[iconId].title'>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-lg-4 control-label" for="inputSizeIcon">Taille (LxH) :</label>
						<div class="col-lg-8">
							<div class="row">
							
								<div class="col-lg-6" id="iconWidthDiv">
							    	<input type="text" id="iconWidth" class="form-control" placeholder="Largeur" value="{{icons[iconId].width}}" ng-model='icons[iconId].width'>
							    </div>
							    
							    <div class="col-lg-6" id="iconHeightDiv">
							   		<input type="text" id="iconHeight" class="form-control" placeholder="Hauteur" value="{{icons[iconId].heigth}}" ng-model='icons[iconId].height'>
							   	</div>
							   	
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-lg-4 control-label" for="iconLink">Lien :</label>
						<div class="col-lg-8">
							<a href='{{ icons[iconId].link }}' ng-model='icons[iconId]'><p class="form-control-static" ng-model='icons[iconId]' id="iconLink">{{ icons[iconId].linkFileName }}</p></a>			
						</div>
					</div>
					
					<br/>
					
					<button ng-if="icons[iconId].linkFileName" type="button" class="blockCenter btn btn-danger btn-sm" id="deleteIconLink"  ng-click="removeIconFile()">Supprimer le lien</button>
					
					<div ng-if="!icons[iconId].linkFileName" class="blockCenter" id="inputIconLink">
						<!--<button class="btn btn-success" type="button" ng-click="addIconFile()">Ajouter un fichier</button>-->
						
						<span class="btn btn-success fileinput-button">
							<i class="icon-plus icon-white"></i>
							<span>Charger un fichier lié</span>
							<!-- The file input field used as target for the file upload widget -->
							<input id="iconLinkUpload" type="file" ng-file-select="onFileSelect($files, $event)">
						</span>
						
						<div class="progress" style='margin-top:20px;'>
							<div class="progress-bar" role="progressbar" ng-model='progressBarFile' aria-valuenow="{{ progressBarFile }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progressBarFile }}%;">
								<span class="sr-only">{{ progressBarFile }}% Complete</span>
							</div>
						</div>
						
						
					</div>
				
					<br/><br/>
				
				</div>
					
				<!-- trash -->
				<div>
					<legend>Corbeille</legend>
					<div id="trash" class="blockCenter" trash>
						<img src="img/trash.png" width="70%">
					</div>
				</div><!-- end trash -->
				
			</div> 
		
		</div> 
	</section><!-- end layout panneau -->

</div>		
</body>

</html>